<header>
    <nav>
        <a href="/">Oahu Project</a>
        <ul>
            <li><a href="/beaches">Beaches</a></li>
            <li><a href="/sights">Sights</a></li>
            <li><a href="/restaurants">Restaurants</a></li>
            <li><a href="/shopping">Shopping</a></li>
            <li><a href="/traditions">Traditions</a></li>
            <li><a href="/personal">Personal Page</a></li>
        </ul>
    </nav>
</header>